# **CREAR SESIÓN DE PYSPARK**

In [6]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

SpSession = SparkSession\
            .builder\
            .appName("Demo Spark")\
            .getOrCreate()

In [7]:
SpContext = SpSession.sparkContext

# **CARGA DE DATOS**

In [11]:
data = SpSession.read.csv('cars.csv', header=True, sep=";")
data.show(5)

+--------------------+------+---------+------------+----------+------+------------+-----+------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

# **CONOCIENDO LA DATA**

In [12]:
data.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

In [15]:
data.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [16]:
data.dtypes

[('Car', 'string'),
 ('MPG', 'string'),
 ('Cylinders', 'string'),
 ('Displacement', 'string'),
 ('Horsepower', 'string'),
 ('Weight', 'string'),
 ('Acceleration', 'string'),
 ('Model', 'string'),
 ('Origin', 'string')]

# **SELECCIÓN DE COLUMNAS**

In [23]:
#Método 1
data.select(data.Car).show(truncate=False)

+--------------------------------+
|Car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

In [24]:
#Método 2
data.select(data['Car']).show(truncate=False)

+--------------------------------+
|Car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

In [27]:
#Método 3
from pyspark.sql.functions import col
data.select(col('Car')).show(truncate=False)

+--------------------------------+
|Car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

In [46]:
#Método 1 de selección múltiple de columnas
data.select(data['Car'], data.Cylinders).show((5),truncate=False)

+-------------------------+---------+
|Car                      |Cylinders|
+-------------------------+---------+
|STRING                   |INT      |
|Chevrolet Chevelle Malibu|8        |
|Buick Skylark 320        |8        |
|Plymouth Satellite       |8        |
|AMC Rebel SST            |8        |
+-------------------------+---------+
only showing top 5 rows

In [48]:
#Método 2 de selección múltiple de columnas
data.select(data['Car'], data['Cylinders']).show((5),truncate=False)

+-------------------------+---------+
|Car                      |Cylinders|
+-------------------------+---------+
|STRING                   |INT      |
|Chevrolet Chevelle Malibu|8        |
|Buick Skylark 320        |8        |
|Plymouth Satellite       |8        |
|AMC Rebel SST            |8        |
+-------------------------+---------+
only showing top 5 rows

In [60]:
from pyspark.sql.functions import col
#Método 3 de selección múltiple de columnas
data.select(col('CAR'), col('Cylinders')).show(truncate=False)

+--------------------------------+---------+
|CAR                             |Cylinders|
+--------------------------------+---------+
|STRING                          |INT      |
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
+--------------------------------+---------+
only showing top 20 rows

# **AGREGAR NUEVAS COLUMNAS**

In [64]:
#CASO #1 
from pyspark.sql.functions import lit

df=data.withColumn('First_Column',lit(1))
df.show(5, truncate=False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|First_Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |1           |
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |1           |
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |1           |
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |1           |
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |1           |
+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
only showing top 5 rows

In [80]:
#CASP #2 AGREGAR DOS COLUMNAS
from pyspark.sql.functions import lit

df=data.withColumn('Second_Column',lit(2)) \
        .withColumn('Third_Column',lit('Third Column'))
        
df.show(5, truncate=False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Second_Column|Third_Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |2            |Third Column|
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |2            |Third Column|
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |2            |Third Column|
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |2            |Third Column|
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |2            |Third Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
only showing top 5 rows

# **AGRUPACIÓN**

In [91]:
df.groupBy('Horsepower').count().show(5)

+----------+-----+
|Horsepower|count|
+----------+-----+
|     102.0|    1|
|     68.00|    6|
|     116.0|    1|
|     145.0|    7|
|     90.00|   20|
+----------+-----+
only showing top 5 rows

In [95]:
df.groupBy('Origin','Model').count().show(10)

+------+-----+-----+
|Origin|Model|count|
+------+-----+-----+
| Japan|   76|    4|
|    US|   81|   13|
|    US|   80|    7|
|    US|   76|   22|
| Japan|   70|    2|
|    US|   78|   22|
|Europe|   76|    8|
|    US|   70|   27|
| Japan|   75|    4|
|Europe|   80|    9|
+------+-----+-----+
only showing top 10 rows

# **ELIMINACIÓN DE COLUMNAS**

In [98]:
df = df.drop('Second_Column','Third_Column')
df.show(5)

+--------------------+------+---------+------------+----------+------+------------+-----+------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [99]:
df

DataFrame[Car: string, MPG: string, Cylinders: string, Displacement: string, Horsepower: string, Weight: string, Acceleration: string, Model: string, Origin: string]

# **ORDENAR FILAS**

In [102]:
df.orderBy('Cylinders').show(truncate=False)

+---------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                        |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+---------------------------+----+---------+------------+----------+------+------------+-----+------+
|Mazda RX2 Coupe            |19.0|3        |70.00       |97.00     |2330. |13.5        |72   |Japan |
|Mazda RX3                  |18.0|3        |70.00       |90.00     |2124. |13.5        |73   |Japan |
|Mazda RX-4                 |21.5|3        |80.00       |110.0     |2720. |13.5        |77   |Japan |
|Mazda RX-7 GS              |23.7|3        |70.00       |100.0     |2420. |12.5        |80   |Japan |
|Ford Pinto Runabout        |21.0|4        |122.0       |86.00     |2226. |16.5        |72   |US    |
|Chevrolet Vega (sw)        |22.0|4        |140.0       |72.00     |2408. |19.0        |71   |US    |
|Toyota Corolla Mark ii     |24.0|4        |113.0       |95.00     |2372. |15.0        |70   |Japan |
|Mercury Capri 2000         |23.0|4        |122.0       |86.00     |2220. |14.0        |71   |US    |
|Datsun PL510               |27.0|4        |97.00       |88.00     |2130. |14.5        |70   |Japan |
|Opel 1900                  |28.0|4        |116.0       |90.00     |2123. |14.0        |71   |Europe|
|Peugeot 504                |25.0|4        |110.0       |87.00     |2672. |17.5        |70   |Europe|
|Peugeot 304                |30.0|4        |79.00       |70.00     |2074. |19.5        |71   |Europe|
|Saab 99e                   |25.0|4        |104.0       |95.00     |2375. |17.5        |70   |Europe|
|Fiat 124B                  |30.0|4        |88.00       |76.00     |2065. |14.5        |71   |Europe|
|Datsun PL510               |27.0|4        |97.00       |88.00     |2130. |14.5        |71   |Japan |
|Toyota Corolla 1200        |31.0|4        |71.00       |65.00     |1773. |19.0        |71   |Japan |
|Toyota Corolla             |25.0|4        |113.0       |95.00     |2228. |14.0        |71   |Japan |
|Datsun 1200                |35.0|4        |72.00       |69.00     |1613. |18.0        |71   |Japan |
|Volkswagen Super Beetle 117|0   |4        |97.00       |48.00     |1978. |20.0        |71   |Europe|
|Volkswagen Model 111       |27.0|4        |97.00       |60.00     |1834. |19.0        |71   |Europe|
+---------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [103]:
df.orderBy('Cylinders',ascending=False).show(truncate=False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |
|Plymouth 'Cuda 340       |14.0  |8        |340.0       |160.0     |3609. |8.0         |70   |US    |
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |
|Ford Mustang Boss 302    |0     |8        |302.0       |140.0     |3353. |8.0         |70   |US    |
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |
|Chevrolet Monte Carlo    |15.0  |8        |400.0       |150.0     |3761. |9.5         |70   |US    |
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |
|Buick Estate Wagon (sw)  |14.0  |8        |455.0       |225.0     |3086. |10.0        |70   |US    |
|Ford Galaxie 500         |15.0  |8        |429.0       |198.0     |4341. |10.0        |70   |US    |
|Ford F250                |10.0  |8        |360.0       |215.0     |4615. |14.0        |70   |US    |
|Plymouth Fury iii        |14.0  |8        |440.0       |215.0     |4312. |8.5         |70   |US    |
|Chevy C20                |10.0  |8        |307.0       |200.0     |4376. |15.0        |70   |US    |
|AMC Ambassador DPL       |15.0  |8        |390.0       |190.0     |3850. |8.5         |70   |US    |
|Dodge D200               |11.0  |8        |318.0       |210.0     |4382. |13.5        |70   |US    |
|Ford Torino (sw)         |0     |8        |351.0       |153.0     |4034. |11.0        |70   |US    |
|Hi 1200D                 |9.0   |8        |304.0       |193.0     |4732. |18.5        |70   |US    |
|AMC Rebel SST (sw)       |0     |8        |360.0       |175.0     |3850. |11.0        |70   |US    |
|Chevrolet Impala         |14.0  |8        |350.0       |165.0     |4209. |12.0        |71   |US    |
|Dodge Challenger SE      |15.0  |8        |383.0       |170.0     |3563. |10.0        |70   |US    |
|Pontiac Catalina Brougham|14.0  |8        |400.0       |175.0     |4464. |11.5        |71   |US    |
+-------------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [109]:
df.groupBy('Origin').count().orderBy('count',ascending=False).show(10,truncate=False)

+------+-----+
|Origin|count|
+------+-----+
|US    |254  |
|Japan |79   |
|Europe|73   |
|CAT   |1    |
+------+-----+

# **FILTRACIÓN DE DATOS**

In [111]:
total_count=df.count()
print("Total de registros:" , total_count)

Total de registros: 407

In [121]:
europa= df.filter(col('Origin')=="Europe").count()
print("TOTAL DE REGISTROS EN EUROPA:" , europa)

TOTAL DE REGISTROS EN EUROPA: 73

In [122]:
df.filter(col('Origin')=="Europe").show(truncate=False)

+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                         |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Citroen DS-21 Pallas        |0   |4        |133.0       |115.0     |3090. |17.5        |70   |Europe|
|Volkswagen 1131 Deluxe Sedan|26.0|4        |97.00       |46.00     |1835. |20.5        |70   |Europe|
|Peugeot 504                 |25.0|4        |110.0       |87.00     |2672. |17.5        |70   |Europe|
|Audi 100 LS                 |24.0|4        |107.0       |90.00     |2430. |14.5        |70   |Europe|
|Saab 99e                    |25.0|4        |104.0       |95.00     |2375. |17.5        |70   |Europe|
|BMW 2002                    |26.0|4        |121.0       |113.0     |2234. |12.5        |70   |Europe|
|Volkswagen Super Beetle 117 |0   |4        |97.00       |48.00     |1978. |20.0        |71   |Europe|
|Opel 1900                   |28.0|4        |116.0       |90.00     |2123. |14.0        |71   |Europe|
|Peugeot 304                 |30.0|4        |79.00       |70.00     |2074. |19.5        |71   |Europe|
|Fiat 124B                   |30.0|4        |88.00       |76.00     |2065. |14.5        |71   |Europe|
|Volkswagen Model 111        |27.0|4        |97.00       |60.00     |1834. |19.0        |71   |Europe|
|Volkswagen Type 3           |23.0|4        |97.00       |54.00     |2254. |23.5        |72   |Europe|
|Volvo 145e (sw)             |18.0|4        |121.0       |112.0     |2933. |14.5        |72   |Europe|
|Volkswagen 411 (sw)         |22.0|4        |121.0       |76.00     |2511. |18.0        |72   |Europe|
|Peugeot 504 (sw)            |21.0|4        |120.0       |87.00     |2979. |19.5        |72   |Europe|
|Renault 12 (sw)             |26.0|4        |96.00       |69.00     |2189. |18.0        |72   |Europe|
|Volkswagen Super Beetle     |26.0|4        |97.00       |46.00     |1950. |21.0        |73   |Europe|
|Fiat 124 Sport Coupe        |26.0|4        |98.00       |90.00     |2265. |15.5        |73   |Europe|
|Fiat 128                    |29.0|4        |68.00       |49.00     |1867. |19.5        |73   |Europe|
|Opel Manta                  |24.0|4        |116.0       |75.00     |2158. |15.5        |73   |Europe|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [123]:
df.filter(col('Origin')=="US").show(truncate=False)

+--------------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                             |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevelle Malibu       |18.0|8        |307.0       |130.0     |3504. |12.0        |70   |US    |
|Buick Skylark 320               |15.0|8        |350.0       |165.0     |3693. |11.5        |70   |US    |
|Plymouth Satellite              |18.0|8        |318.0       |150.0     |3436. |11.0        |70   |US    |
|AMC Rebel SST                   |16.0|8        |304.0       |150.0     |3433. |12.0        |70   |US    |
|Ford Torino                     |17.0|8        |302.0       |140.0     |3449. |10.5        |70   |US    |
|Ford Galaxie 500                |15.0|8        |429.0       |198.0     |4341. |10.0        |70   |US    |
|Chevrolet Impala                |14.0|8        |454.0       |220.0     |4354. |9.0         |70   |US    |
|Plymouth Fury iii               |14.0|8        |440.0       |215.0     |4312. |8.5         |70   |US    |
|Pontiac Catalina                |14.0|8        |455.0       |225.0     |4425. |10.0        |70   |US    |
|AMC Ambassador DPL              |15.0|8        |390.0       |190.0     |3850. |8.5         |70   |US    |
|Chevrolet Chevelle Concours (sw)|0   |8        |350.0       |165.0     |4142. |11.5        |70   |US    |
|Ford Torino (sw)                |0   |8        |351.0       |153.0     |4034. |11.0        |70   |US    |
|Plymouth Satellite (sw)         |0   |8        |383.0       |175.0     |4166. |10.5        |70   |US    |
|AMC Rebel SST (sw)              |0   |8        |360.0       |175.0     |3850. |11.0        |70   |US    |
|Dodge Challenger SE             |15.0|8        |383.0       |170.0     |3563. |10.0        |70   |US    |
|Plymouth 'Cuda 340              |14.0|8        |340.0       |160.0     |3609. |8.0         |70   |US    |
|Ford Mustang Boss 302           |0   |8        |302.0       |140.0     |3353. |8.0         |70   |US    |
|Chevrolet Monte Carlo           |15.0|8        |400.0       |150.0     |3761. |9.5         |70   |US    |
|Buick Estate Wagon (sw)         |14.0|8        |455.0       |225.0     |3086. |10.0        |70   |US    |
|Plymouth Duster                 |22.0|6        |198.0       |95.00     |2833. |15.5        |70   |US    |
+--------------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

# **FILTRACIÓN MÚLTIPLE**

In [133]:
total_count=df.count()
print("TOTAL DE REGISTROS:", total_count)
usa=df.filter((col('Origin')=="US")&(col('Horsepower')=="170.0")).count()
print("TOTAL DE REGISTROS:", usa)

TOTAL DE REGISTROS: 407
TOTAL DE REGISTROS: 5

In [140]:
total_count=df.count()
print("TOTAL DE REGISTROS:", total_count)
usa=df.filter((col('Origin')=="US")&(col('Horsepower')=="175.0")).count()
print("TOTAL DE REGISTROS:", usa)

TOTAL DE REGISTROS: 407
TOTAL DE REGISTROS: 7

In [141]:
df.filter((col('Origin')=="US")&(col('Horsepower')=="175.0")).show(truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Plymouth Satellite (sw)  |0   |8        |383.0       |175.0     |4166. |10.5        |70   |US    |
|AMC Rebel SST (sw)       |0   |8        |360.0       |175.0     |3850. |11.0        |70   |US    |
|Pontiac Catalina Brougham|14.0|8        |400.0       |175.0     |4464. |11.5        |71   |US    |
|Pontiac Safari (sw)      |13.0|8        |400.0       |175.0     |5140. |12.0        |71   |US    |
|Pontiac Catalina         |14.0|8        |400.0       |175.0     |4385. |12.0        |72   |US    |
|Buick Century 350        |13.0|8        |350.0       |175.0     |4100. |13.0        |73   |US    |
|AMC Ambassador Brougham  |13.0|8        |360.0       |175.0     |3821. |11.0        |73   |US    |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+